<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerlinks}}
</head>
<body>
   {{>navbar}}

   {{!-- <!-- <- main header --> --> --}}
    <div>
    <div>
       <div >
           <div>
               <!-- left side div -->
              
         <div> 
              <img class="error" src="404img.jpg" alt="">
               <a href="/"> <button class="error_button">Go Back</button></a>
           </div>
      
           <!-- right side div --> 
           <div>
            
        </div>
       </div>
    </div>
   </div>     
   
  
</body>
</html>